/************************************************* 
Base Styles
**************************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: unset;
}

a:hover {
  color: unset;
}

body {
  font-family: Arial, sans-serif;
  font-weight: bold;
  overflow-y: auto !important;
  padding-right: 0 !important;
}

/************************************************* 
Buttons 
**************************************************/
.sidebar-btn {
  position: absolute;
  left: 245px;
  top: 60%;
  background: #4a4a4a;
  color: #fff;
  height: 40px;
  width: 40px;
  z-index: 9999;
  border: 1px solid #333;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
}

.sidebar-btn-close {
  left: 0 !important;
  transition: left 0.5s ease-out;
}

.sidebar-btn-open {
  left: 245px !important;
  transition: left 0.5s ease-out;
}

/************************************************* 
Typography
**************************************************/
.fundcomponent-title {
  font-size: 15px;
  color: #262625;
  font-weight: 550 !important;
}

.notfound-screen-caption {
  margin-top: 20px !important;
  font-size: 16px !important;
  font-weight: bolder !important;
  text-align: center;
}

.landingscreen-textbox {
  width: 60%;
  margin: auto;
  padding: 10px;
  color: #fbf4f4;
  text-align: center;
  background-color: black;
  border-radius: 7px;
}

/************************************************* 
Forms
**************************************************/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.input-component {
  width: inherit !important;
  max-height: 30px !important;
}

.input-label-props {
  position: absolute !important;
  top: -4px !important;
  left: -4px !important;
  background-color: white !important;
  padding: 0 7px 0 7px !important;
}

/************************************************* 
Menus
**************************************************/
.sidebar {
  position: fixed;
  background: #404040;
  height: 100%;
  width: 270px;
  left: 0;
  z-index: 999;
  opacity: 1;
}

.sidebar-close {
  left: -270px !important;
  transition: left 0.5s ease-out;
}

.sidebar-open {
  left: 0 !important;
  transition: left 0.5s ease-out;
}

.sidebar .title {
  line-height: 65px;
  text-align: center;
  background: #333;
  font-size: 25px;
  font-weight: 600;
  color: #f2f2f2;
  border-bottom: 1px solid #222;
}

.sidebar .list-items {
  position: relative;
  background: #404040;
  width: 100%;
  height: 100vh;
  list-style: none;
  padding-left: 0;
}

.sidebar .list-items li {
  padding-left: 40px;
  line-height: 50px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid #333;
  transition: all 0.3s ease;
}

.sidebar .list-items li:hover {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  box-shadow: 0 0px 10px 3px #222;
}

.sidebar .list-items li:first-child {
  border-top: none;
}

.sidebar .list-items li a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  height: 100%;
  width: 100%;
  display: block;
}

.sidebar .list-items li a i {
  margin-right: 20px;
}

.sidebar .list-items .icons {
  width: 100%;
  height: 40px;
  text-align: center;
  position: absolute;
  bottom: 100px;
  line-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar .list-items .icons a {
  height: 100%;
  width: 40px;
  display: block;
  margin: 0 5px;
  font-size: 18px;
  color: #f2f2f2;
  background: #4a4a4a;
  border-radius: 5px;
  border: 1px solid #383838;
  transition: all 0.3s ease;
}

.sidebar .list-items .icons a:hover {
  background: #404040;
}

.list-items .icons a:first-child {
  margin-left: 0px;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #202020;
  z-index: -1;
  width: 100%;
  text-align: center;
}

.content .header {
  font-size: 45px;
  font-weight: 700;
}

.content p {
  font-size: 40px;
  font-weight: 700;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.navbar-ul {
  display: flex;
}

.MuiBox-root {
  height: fit-content !important;
  width: 100%;
}

.css-1cgx7kx-MuiTabs-scroller {
  max-width: 25vw !important;
  height: 100vh !important;
  max-width: fit-content !important;
}

.walletscreen {
  position: relative;
  left: 270px;
}

.walletscreen-expand {
  left: 0 !important;
  transition: left 0.5s ease-out;
}

.walletscreen-shrink {
  left: 270px !important;
  transition: left 0.5s ease-out;
}

.walletscreen-tab-content {
  display: flex;
  width: 100%;
  background-color: mintcream;
  max-height: 100vh !important;
}

.notfound-screen {
  display: flex;
  flex-direction: column !important;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 80%;
  margin: auto;
}

.connection-success {
  background-color: #689f38;
}

.connection-failed {
  background-color: #ef5350;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
  position: fixed;
  z-index: 999;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.navbar__logo {
  cursor: pointer;
  animation: rotate 2s;
  animation-iteration-count: infinite;
}

.navbar__logo:hover {
  cursor: pointer;
  animation: unset;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.landingscreen {
  background-image: url("../../images/landing-image.jpg") !important;
  background-repeat: no-repeat;
  background-position: top center !important;
  background-size: contain;
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
  width: 100%;
  height: 100vh;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  background-color: #dae6dd;
}

@keyframes fadeInAnimation {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform: translateY(0%);
  }
}

/*# sourceMappingURL=App.css.map */
