.navbar {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
  
  .navbar-ul {
    display: flex;
  }
  
  .MuiBox-root {
    height: fit-content !important;
    width: 100%;
  }
  
  .css-1cgx7kx-MuiTabs-scroller {
    max-width: 25vw !important;
    height: 100vh !important;
    max-width: fit-content !important;
  }
  
  .walletscreen {
    position: relative;
    left: 270px;
  }
  
  .walletscreen-expand {
    left: 0 !important;
    transition: left 0.5s ease-out;
  }
  
  .walletscreen-shrink {
    left: 270px !important;
    transition: left 0.5s ease-out;
  }
  
  .walletscreen-tab-content {
    display: flex;
    width: 100%;
    background-color: mintcream;
    max-height: 100vh !important;
  }
  
  .notfound-screen {
    display: flex;
    flex-direction: column !important;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 80%;
    margin: auto;
  }
  
  .connection-success {
    background-color: $greenColor;
  }
  
  .connection-failed {
    background-color: $redColor;
  }
  