.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
  position: fixed;
  z-index: 999;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.navbar__logo {
  cursor: pointer;
  animation: rotate 2s;
  animation-iteration-count: infinite;
}

.navbar__logo:hover {
  cursor: pointer;
  animation: unset;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.landingscreen {
  background-image: url("../../../images/landing-image.jpg") !important;
  background-repeat: no-repeat;
  background-position: top center !important;
  background-size: contain;
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
  width: 100%;
  height: 100vh;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  background-color: #dae6dd;
}

@keyframes fadeInAnimation {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform: translateY(0%);
  }
}
