/************************************************* 
Buttons 
**************************************************/
.sidebar-btn {
    position: absolute;
    left: 245px;
    top: 60%;
    background: #4a4a4a;
    color: #fff;
    height: 40px;
    width: 40px;
    z-index: 9999;
    border: 1px solid #333;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
  }
  
  .sidebar-btn-close {
    left: 0 !important;
    transition: left 0.5s ease-out;
  }
  
  .sidebar-btn-open {
    left: 245px !important;
    transition: left 0.5s ease-out;
  }