
  /************************************************* 
Forms
**************************************************/
  
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }

  .input-component {
    width: inherit !important;
    max-height: 30px !important;
  }
  
  .input-label-props {
    position: absolute !important;
    top: -4px !important;
    left: -4px !important;
    background-color: white !important;
    padding: 0 7px 0 7px !important;
  }