
  /************************************************* 
Menus
**************************************************/

.sidebar {
    position: fixed;
    background: #404040;
    height: 100%;
    width: 270px;
    left: 0;
    z-index: 999;
    opacity: 1;
  }
  
  .sidebar-close {
    left: -270px !important;
    transition: left 0.5s ease-out;
  }
  
  .sidebar-open {
    left: 0 !important;
    transition: left 0.5s ease-out;
  }
  
  .sidebar .title {
    line-height: 65px;
    text-align: center;
    background: #333;
    font-size: 25px;
    font-weight: 600;
    color: #f2f2f2;
    border-bottom: 1px solid #222;
  }
  .sidebar .list-items {
    position: relative;
    background: #404040;
    width: 100%;
    height: 100vh;
    list-style: none;
    padding-left: 0;
  }
  .sidebar .list-items li {
    padding-left: 40px;
    line-height: 50px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid #333;
    transition: all 0.3s ease;
  }
  .sidebar .list-items li:hover {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    box-shadow: 0 0px 10px 3px #222;
  }
  .sidebar .list-items li:first-child {
    border-top: none;
  }
  .sidebar .list-items li a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    height: 100%;
    width: 100%;
    display: block;
  }
  .sidebar .list-items li a i {
    margin-right: 20px;
  }
  .sidebar .list-items .icons {
    width: 100%;
    height: 40px;
    text-align: center;
    position: absolute;
    bottom: 100px;
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sidebar .list-items .icons a {
    height: 100%;
    width: 40px;
    display: block;
    margin: 0 5px;
    font-size: 18px;
    color: #f2f2f2;
    background: #4a4a4a;
    border-radius: 5px;
    border: 1px solid #383838;
    transition: all 0.3s ease;
  }
  .sidebar .list-items .icons a:hover {
    background: #404040;
  }
  .list-items .icons a:first-child {
    margin-left: 0px;
  }
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #202020;
    z-index: -1;
    width: 100%;
    text-align: center;
  }
  .content .header {
    font-size: 45px;
    font-weight: 700;
  }
  .content p {
    font-size: 40px;
    font-weight: 700;
  }