/************************************************* 
Typography
**************************************************/

 .fundcomponent-title {
    font-size: 15px;
    color: #262625;
    font-weight: 550 !important;
  }

  .notfound-screen-caption {
    margin-top: 20px !important;
    font-size: 16px !important;
    font-weight: bolder !important;
    text-align: center;
  }

    
  .landingscreen-textbox {
    width: 60%;
    margin: auto;
    padding: 10px;
    color: #fbf4f4;
    text-align: center;
    background-color: black;
    border-radius: 7px;
  }