/************************************************* 
Base Styles
**************************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: unset;
}

a:hover {
  color: unset;
}

body {
  font-family: Arial, sans-serif;
  font-weight: bold;
  overflow-y: auto !important;
  padding-right: 0 !important;
}