// Media Query Mixins

$verySmall: 477px;
$small: 478px;
$medium: 1100px;
$large: 1101px;
$extraLarge: 1500px;

@mixin small {
  @media (max-width: #{$verySmall}) {
    @content;
  }
}

@mixin medium {
  @media (min-width: #{$small}) and (max-width: #{$medium}) {
    @content;
  }
}

@mixin large {
  @media (min-width: #{$large}) {
    @content;
  }
}

@mixin extraLarge {
  @media (min-width: #{$extraLarge}) {
    @content;
  }
}


